.requirments, .preferences, .dealbreaker{
  height:auto;
  min-height: 50px;
}

.dealbreakersDiv{
  background-color:red;
  color: white;
  padding: 10px 15px;
}

.redBorder{
  border: 2px solid red;
}

.preferencesDiv{
  background-color:blue;
  color: white;
  padding: 10px 15px;
}

.blueBorder{
  border: 2px solid blue;
}

.requirementsDiv{
  background-color:green;
  color: white;
  padding: 10px 15px;
}

.greenBorder{
  border: 2px solid green;
}

.list-item{
  background-color: #FFCE00;
  border-radius: 25px;
  margin:2px;
  text-align: center;
}

.portlet {
margin-bottom: 15px;
}

.portlet {
border: 1px solid;
}

.portlet .portlet-heading {
padding: 0 15px;
}

.portlet .portlet-heading h4 {
padding: 1px 0;
font-size: 16px;
}

.portlet .portlet-heading a {
color: #fff;
}

.portlet .portlet-heading .portlet-title {
float: left;
}

.portlet .portlet-heading .portlet-title h4 {
margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
float: right;
margin: 8px 0;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
margin: 0 5px;
}

.portlet .portlet-body {
padding: 15px;
background: #fff;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
border-color: #34495e;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
color: #fff;
background-color: #34495e;
}
